
body{
    overflow-x: hidden;
}
.contact {
    flex-wrap: wrap;
  }
  
.story {
    margin-left: 310px;
    padding-top: 20px;
    padding-left: 10px;  /* Tambahkan padding kiri */
    padding-right: 10px; /* Tambahkan padding kanan */
    width: 60%;
    text-align: center;
}
.timeline{
    width: 100%;
    margin-left: 1rem;
    padding-right: 0;
}
.profile{
    padding-left: 50px;  
    text-align: left;
    display: flex;
    align-items: center;
    height: 775px;
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
}

.profile {
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 770px) {
        ::-webkit-scrollbar{
            display: none;
        }
        .tampilan{
            width:  100%;
            flex-direction: row;
        }
        nav{
            width: 100%;
        }
        nav .social{
            display: none;
        }
        nav h2{
            display: block;
        }
        nav .navbar{
            display: none;
        }
        .img1 img{
            display: none;
        }
        
        .logo h1{
            display: block;
        }
        nav .menu{
            display: block;
        }
        .profile {
            padding-left: 20px;  
            text-align: left;  
            width: 100%; 
            height: 800px;
        }
    
        
        .profile h3 {
            font-size: 1.2rem; 
        }
    
        .profile h1 {
            font-size: 1.8rem; 
        }
    
        .profile h1.typeit {
            font-size: 1.5rem;  
        }
    
        .profile p {
            font-size: 1rem;  
        }
        .text-2xl {
            height: auto;
        }
        .contact{
            display: block !important;
            
        }
        .contact .isi{
            margin-top: 7px;
            width: 100%;
            height: auto;
        }
        .contact .data-contact{
            margin-top: 1rem;
        }
        
        .timeline{
            margin-left: 1rem;
            padding-right: 15px;
            width: 100%;
        }
        .story {
            margin-left: 0;
            width: 100%;
            padding-left: 16px;  /* Tambahkan padding lebih besar pada layar mobile */
            padding-right: 16px; 
            text-align: justify; /* Agar teks lebih rapi pada mobile */
        }
        .contact-me{
            padding-top: 100px;
        }
        
    }
.fixed-menu{
    position: fixed;
    height: 100%;
    
}
    
